@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/*header{
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}*/

header{
    background-color: rgba(255, 255, 255, 0.332);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

/*.logo{
    text-decoration: none;
    color: #3a6cf4;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;

}*/

.logo{
    text-decoration: none;
    color: #242427;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;

}

.navigation a{
    color: #242427;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}

.navigation a:hover{
    color: #242427;
}

section{
    padding: 100px 200px;
}

.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/IMG-5.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.main h2{
    color: #fff;
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: #fff;
    font-size: 3em;
    font-weight: 600;
}

.main h3{
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-btn {
    color: #fff;
    background-color: #242427;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.main-btn:hover{
    background-color: #242427;
    transform: scale(1.1);
}


.main-1{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/1.jpg) no-repeat;
    animation: images 30s infinite ease-in-out;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


@keyframes images{
    0%{
        background-image: url(images/1.jpg);
    }
    10%{
        background-image: url(images/2.jpg);
    }
    20%{
        background-image: url(images/3.jpg);
    }
    30%{
        background-image: url(images/4.jpg);
    }
    40%{
        background-image: url(images/5.jpg);
    }
    50%{
        background-image: url(images/1.jpg);
    }
    60%{
        background-image: url(images/1.jpg);
    }
    70%{
        background-image: url(images/2.jpg);
    }
    80%{
        background-image: url(images/3.jpg);
    }
    90%{
        background-image: url(images/4.jpg);
    }
    100%{
        background-image: url(images/5.jpg);
    }
}

.main-1 h2{
    color: #fff;
    font-size: 0.9em;
    font-weight: 200;
}

.main-1 h2 span{
    display: inline-block;
    margin-top: 300px;
    color: #fff;
    font-size: 3em;
    font-weight: 300;
}

.main-1 h3{
    color: #fff;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main-1-btn {
    color: #fff;
    background-color: #242427;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}


.social-icons a {
    color: #fff;
    font-size: 1.7em;
    padding-right: 30px;
}

.social-icons a:hover{
    opacity: 0.5;
}


/*  .cards{
    background: url(images/IMG-1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }*/
  .title{
      display: flex;
      justify-content: center;
      color: #242427;
      font-size: 2.2em;
      font-weight: 800;
      margin-bottom: 30px;
  }

.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    width: 18em;
    height: 25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    transition: 0.7s ease;
    background: url(images/Giovanna.jpg) no-repeat;
    background-size: cover;
}

.card1{
    width: 18em;
    height: 25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    transition: 0.7s ease;
    background: url(images/Wayne.jpg) no-repeat;
    background-size: cover;
}


.card2{
    width: 18em;
    height: 25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    transition: 0.7s ease;
    background: url(images/Christopher.jpg) no-repeat;
    background-size: cover;
}

.card3{
    width: 18em;
    height: 25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    transition: 0.7s ease;
    background: url(images/paul-marshall-1.png) no-repeat;
    background-size: cover;
}

.card4{
    width: 18em;
    height: 25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    transition: 0.7s ease;
    background: url(images/Peter.jpg) no-repeat;
    background-size: cover;
}

.card5{
    width: 18em;
    height: 25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    transition: 0.7s ease;
    background: url(images/Gavin.jpg) no-repeat;
    background-size: cover;
}

.card6{
    width: 18em;
    height: 25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    transition: 0.7s ease;
    background: url(images/Bridget.jpg) no-repeat;
    background-size: cover;
}

.card:hover{
    transform: scale(1.1);
}

.card1:hover{
    transform: scale(1.1);
}

.card2:hover{
    transform: scale(1.1);
}

.card3:hover{
    transform: scale(1.1);
}

.card4:hover{
    transform: scale(1.1);
}

.card5:hover{
    transform: scale(1.1);
}

.card6:hover{
    transform: scale(1.1);
}

.card-btn {
    color: rgb(37, 36, 36);
    background-color: #bcbcc6;
    text-decoration: none;
    font-size: 0.7em;
    margin-right: 150px;
    margin-top: 20px;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}

.card-btn:hover{
    background-color: #ffffff;
    transform: scale(1.1);
}

.icon{
    color: #fff;
    font-size: 8em;
    text-align: center;
}

.info{
    text-align: center;
}

.info p{
    color: #fff;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.info h3{
    color: #fff;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}


.footer{
    background-color: #242427;
    color: #fff;
    padding: 2em;
    display: flex;
    justify-content: space-between;
}

.footer-title{
    font-size: 1.3em;
    font-weight: 600;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe00;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;

    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


.news-title{
      display: flex;
      justify-content: center;
      color: #242427;
      font-size: 2.2em;
      font-weight: 800;
      margin-bottom: 30px;
  }

.news-pic{
    width: 45em;
    height: 30em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    transition: 0.7s ease;
    background: url(images/enowa-future-hydrogen-article-thumbnail.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.news-pic:hover{
    transform: scale(1.03);
}

.news-pic2{
    width: 45em;
    height: 30em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    transition: 0.7s ease;
    background: url(images/enowa-thumbnail-720.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}


.news-pic3{
    width: 45em;
    height: 30em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    margin-left: 500px;
    transition: 0.7s ease;
    background: url(images/neom-appoints-deputy-ceo-thumbnail.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.news-pic5{
    width: 45em;
    height: 30em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    margin-left: 500px;
    transition: 0.7s ease;
    background: url(images/thumbnail-MBC.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.news-pic4{
    width: 45em;
    height: 30em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    transition: 0.7s ease;
    background: url(images/trojena-pr-thumbnail.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.news-pic6{
    width: 45em;
    height: 30em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    transition: 0.7s ease;
    background: url(images/Image\ 3\ -\ 80\ Saudi\ and\ International\ climbers\ join\ the\ first\ edition\ of\ NEOM’s\ ‘Rise\ 100’.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.news-pic6:hover{
    transform: scale(1.03);
}

.news-pic3:hover{
    transform: scale(1.03);
}

.news-pic5:hover{
    transform: scale(1.03);
}

.news-pic2:hover{
    transform: scale(1.03);
}

.news-pic4:hover{
    transform: scale(1.03);
}

.news-pic1{
    width: 45em;
    height: 30em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    margin-left: 500px;
    transition: 0.7s ease;
    background: url(images/within-sand-film-thumbnail.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.news-pic1:hover{
    transform: scale(1.03);
}

.news-info p#p1{
    color: rgb(0, 0, 0);
    font-size: large;
    font-weight: 700;
    margin-left: 500px;
}


.news-info h3#h1{
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    font-weight: 400;
    margin: 10px;
    margin-left: 500px;
}

.news-info p{
    color: rgb(0, 0, 0);
    font-size: large;
    font-weight: 700;
    margin-left: 10px;
}


.news-info h3{
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    font-weight: 400;
    margin: 10px;
}

.logo a#myProfile{
    background: url(images/IMG-5.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }

    .navigation a{
        padding-left: 10px;
    }

    .title{
        font-size: 1.8em;
    }

    .section{
        padding: 80px 20px;
    }

    .main-content h2{
        font-size: 1em;
    }

    .main-content h3{
        font-size: 1.6em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:641px){
    body{
        font-size: 12px;
    }

    .main-content h2{
        font-size: 0.8em;
    }

    main-content h3{
        font-size: 1.4em;
    }
}

@media (max-width:300px) {
    body{
        font-size: 10px;
    }
}